# Project place file
/dataService.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

node_modules/**
roblox_packages/
roblox_server_packages/
lune_packages/
luau_packages/
.pesde/
build/
sourcemap.json
